body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header, h1 {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.btn {
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
